---
import GithubCorner from "./GithubCorner.astro";
import RustFerrisOriginal from "./RustFerrisOriginal.astro";
import RustLogo from "./RustLogo.astro";
import SectionWrapper from "./SectionWrapper.astro";
---

<SectionWrapper>
	<div class="header-container">
		<div class="logo-title">
			<GithubCorner />
			<div class="animate">
				<RustLogo />
			</div>
			<h1 class="animate">
				Welcome to <span class="text-gradient">Rustnet</span>
			</h1>
			<p class="cool-paragraph animate">
				Machine learning. Now, built in <span class="text-gradient"
					>Rust</span
				>.
			</p>
		</div>
		<div class="side-image">
			<RustFerrisOriginal />
		</div>
	</div>
	<!-- Scroll indicator -->
	<div class="scroll-indicator">
		<div class="arrow"></div>
	</div>
</SectionWrapper>

<style>
	/* Existing styles */

	.header-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
		flex-wrap: wrap;
	}

	.logo-title,
	.side-image {
		flex: 1 0 50%;
		max-width: 50%;
		width: 80%;
	}

	.logo-title {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.side-image {
		height: auto; /* Maintain aspect ratio */
	}

	.subtext {
		font-size: 1rem;
		color: #333; /* Adjust color as needed */
		margin-top: 1rem;
	}

	.scroll-indicator {
		position: absolute;
		bottom: 2rem;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
	}

	.scroll-indicator span {
		color: rgb(var(--accent));
		font-size: 1rem;
		font-weight: bold;
		margin-bottom: 0.5rem;
	}

	.arrow {
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 15px solid rgb(var(--accent));
		animation: arrow-bounce 1s infinite;
	}

	@keyframes arrow-bounce {
		0% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-10px);
		}
		100% {
			transform: translateY(0);
		}
	}

	.cool-paragraph {
		background: linear-gradient(45deg, white, white);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
		font-size: 1.2em;
		margin-top: 0.5rem;
		text-align: center;
	}
</style>
